@media only screen and (max-width: 600px) {
  /* For mobile: */
  .mobile-1 {width: 8.33%;}
  .mobile-2 {width: 16.66%;}
  .mobile-3 {width: 25%;}
  .mobile-4 {width: 33.33%;}
  .mobile-5 {width: 41.66%;}
  .mobile-6 {width: 50%;}
  .mobile-7 {width: 58.33%;}
  .mobile-8 {width: 66.66%;}
  .mobile-9 {width: 75%;}
  .mobile-10 {width: 83.33%;}
  .mobile-11 {width: 91.66%;}
  .mobile-12 {width: 100%}
  .searchBar {
    display: flex;
    flex-direction: column;
  }
  #searchButton{
    margin: 6% !important;
  }
  .hide-radius{border-radius: 0 !important}
  .leftBorder{display: none !important}
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* For tablet: */
  .tablet-1 {width: 8.33%;}
  .tablet-2 {width: 16.66%;}
  .tablet-3 {width: 25%;}
  .tablet-4 {width: 33.33%;}
  .tablet-5 {width: 41.66%;}
  .tablet-6 {width: 50%;}
  .tablet-7 {width: 58.33%;}
  .tablet-8 {width: 66.66%;}
  .tablet-9 {width: 75%;}
  .tablet-10 {width: 83.33%;}
  .tablet-11 {width: 91.66%;}
  .tablet-12 {width: 100%;}
  .hide-radius{border-radius: 0 !important}
}
@media only screen and (min-width: 769px) and (max-width: 1060px) {
  /* For large tablet: */
  .tablet-ex {width: 83.33%;}
}
@media only screen and (min-width: 1061px) {
  /* For desktop: */
  .desktop-1 {width: 8.33%;}
  .desktop-2 {width: 16.66%;}
  .desktop-3 {width: 25%;}
  .desktop-4 {width: 33.33%;}
  .desktop-5 {width: 41.66%;}
  .desktop-6 {width: 50%;}
  .desktop-7 {width: 58.33%;}
  .desktop-8 {width: 66.66%;}
  .desktop-9 {width: 75%;}
  .desktop-10 {width: 83.33%;}
  .desktop-11 {width: 91.66%;}
  .desktop-12 {width: 100%;}
}

.App {
  text-align: center;
}

html {
  background: #f5f7f7;
}

#body {
  display: flex;
  flex-direction: column;
}

.centerItem {
  display: flex;
  align-items: center;  
  justify-content: space-between
}

.header {
  margin-top: 2em;
}

.searchBar {
  background: #ffffff;
  margin-top: 2em;
  margin-bottom: 1em;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.resultList {
  background: #ffffff;
  border-radius: 16px;
  padding: 10px 0;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pageResult {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  border: 1px solid #E7EAEB;
  padding: 24px;
  border-radius: 12px;
  margin: 20px 30px;
}

#article {
  font-family: 'Lora', serif;
}

#rank {
  font-family: 'Lora', serif;
  color: #A7AAAB;
  padding-right: 20px;
}

#views {
  font-family: 'Poppins', sans-serif;
  color: #A7AAAB;
  font-weight: 400;
}

.mainFont {
  font-family: 'Lora', serif;
  font-size: 402empx;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

#searchButton {
  color: #FFFFFF;
  background-color: #025B4B;
  height: 64px;
  padding: 12px 24px 12px 24px;
  margin-right: 2%;
  border-radius: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

#searchButton:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

#searchButton:active {
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.picker {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius:100px;
}

.picker:hover {
background-color: #F5F7F780;
cursor: pointer;
}

.icon {
  padding: 15px;
}

#datePicker {
  border: none;
  width: 6em;
}

.innerPicker {
  display: flex;
  flex-direction: column; 
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #A7AAAB
}

.leftBorder {
  display: block;
  width: 1px;
  height: 4em;
  background-color: #E7EAEB;
  margin: 1em;
}

#resultSelect, #countryPicker {
  background: #FFF;
  border: none;
  padding: 0;

}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
  margin-bottom: 100px;
	gap: 20px;
}

.pagination .page-number {
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid #D4D8D9;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width: 20px;
  height: 20px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.pagination .page-number:hover {
	color: #025B4B;
	background: #E0E9CB;
}

.pagination .active {
	color: #025B4B;
	background: #E0E9CB;
}

.pagination .active:hover {
	cursor: not-allowed;
}

ul {
	list-style: none;
}